apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: taskapi-hpa
  namespace: ec2
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: taskapi
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60